		#init{
			width: 900px;
			background-color: #d2d2c1;
			background-image: url('imgs/fundo.png');
		}


		}

		#capa{
			width: 900px;
			
	
		}

		.links{
			height: 40px;
			background-color: #c8c8b4;
			font-family: "Arial",serif;
			font-size:17px;
			color: #39475f;
			font-weight: bold;
			padding-top: 20px; 
			text-align: center;

			

		}

		.sobre{
			padding: 10px;
			background-color: #e9e9db;
			width: 882px;
		}

		.paragrafos{
			font-family:"Arial", serif;
			font-size: 13px;
		}

		.header1{
			color: #96964c;
			font-family:"Arial", serif;
			font-weight: bold;
			font-size: 1.2em;

		}

		A {text-decoration: none;
			color: #39475f;
			padding:10px;

		}

		.direitos{
			font-family:"Times New Roman", Times, serif;
			font-weight: bold;
			text-align: center;
			font-size: 15px;

		}

		.campimages{
			width: 640px;
			height: 425px;
			border:10px solid #c8c8b4;
			border-width: : 10px;


		}

		.contato{
			font-family: "Arial", serif;
			font-weight: bold;


		}

		.infos{
			font-family: "Times New Romamn",Times, sans-serif;
			font-size: 18px;
			font-weight: 400;

		}

